	ul,
	ol,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	header {
		background: url(img/banner.jpg) no-repeat;
		background-size: cover;
		padding-top: 15px;
	}
	
	.top {
		background: rgba(0, 0, 0, 0.41);
		width: 1140px;
		margin: 0 auto;
		overflow: hidden;
	}
	
	.top ul li:after {
		content: '/';
	}
	
	.top ul li:last-of-type:after {
		/*li:last-of-type 过滤选择器 */
		content: '';
	}
	
	.top form {
		line-height: 54px;
		float: right;
	}
	
	.top ul li {
		float: left;
		line-height: 54px;
		color: white;
		padding-top: 4px;
	}
	
	ul .fl {
		float: left;
	}
	/*.fr {
	float: right;
}*/
	
	.top ul li a {
		margin: 0 15px;
		color: white;
		text-decoration: none;
		transition: all .3s;
	}
	
	.top ul li:first-of-type a {
		color: yellow;
		border-top: 4px solid yellow;
	}
	
	.top ul li a:hover {
		color: yellow;
		border-top: 4px solid yellow;
	}
	
	.top form {
		position: relative;
	}
	
	.top form input {
		background: transparent;
		outline: none;
		border: 1px solid white;
		padding: 5px 10px;
		margin-right: 20px;
	}
	
	.top form input[type=submit] {
		background: url(img/search.png) no-repeat;
		padding: 0;
		width: 22px;
		height: 22px;
		border: none;
		background-position: center;
		margin-right: 0;
		position: absolute;
		right: 25px;
		top: 16px;
		cursor: pointer;
		/*光标，就是当鼠标指上去元素的时候的呈现*/
	}
	/*@font-face {
	font-family: xxx;
	src: url(img/xjlFont.fon);
}*/
	
	header .center {
		text-align: center;
		margin: 200px 0 0 0;
	}
	
	header .center h1 {
		font-family: 'xxx'"微软雅黑";
		font-size: 60px;
		color: white;
		border-top: 5px solid white;
		border-bottom: 5px solid white;
		display: inline;
	}
	
	header .cardbox {
		overflow: hidden;
		width: 1140px;
		margin: 0 auto;
		position: relative;
		top: 150px;
	}
	
	header .cardbox .card {
		width: 205px;
		text-align: center;
		background: #16A667;
		padding: 25px;
		margin: 0 15px;
		float: left;
		color: white;
	}
	
	header .cardbox .card img {
		border: 8px solid white;
		border-radius: 50%;
		padding: 20px;
		width: 100px;
		transition: all 0.3s;
	}
	
	header .cardbox .card img:hover {
		transform: rotateY(360deg);
	}
	
	.about {
		background: #eee;
		overflow: hidden;
		padding-top: 200px;
		padding-bottom: 20px;
	}
	
	.about .wrap {
		width: 1140px;
		margin: 0 auto;
	}
	
	img {
		max-width: 100%;
	}
	
	h3.title {
		font-size: 36px;
		margin-top: 0;
		padding: 40px;
		margin: 0 17px;
	}
	
	.about .fl {
		width: 400px;
		float: left;
	}
	
	.about .fr {
		width: 700px;
		line-height: 24px;
		color: #666666;
		float: right;
	}
	
	.Services {
		padding: 100px 0;
		background: #37353b;
	}
	
	.title1 {
		font-size: 36px;
		text-transform: capitalize;
		color: white;
		margin: 0 17px;
	}
	
	.box {
		margin-top: 3em;
		margin: 0 auto;
		position: relative;
		padding-top: 36px;
		overflow: hidden;
	}
	
	.Services .bigbox {
		width: 1140px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
	}
	
	.sbox {
		width: 380px;
		float: left;
		text-align: center;
		color: white;
	}
	
	.Services .sbox img {
		background: #16A667;
		padding: 8px;
		line-height: 30px;
		border-radius: 10px;
		transition: all 0.4s;
	}
	
	.Services .sbox img:hover {
		background: orange;
	}
	
	.works {
		background: #eee;
		overflow: hidden;
		width: 1140px;
		margin: 0 auto;
	}
	
	.works .card {
		position: relative;
		width: 285px;
		height: 245px;
		float: left;
	}
	
	.works .card img:first-of-type {
		width: 285px;
		height: 245px;
	}
	
	.works .card .textbox {
		transform: scale(0);
		transition: all .5s;
		position: absolute;
		top: 0;
		left: 0;
		/*width: 100%;*/
		padding: 90px 110px;
		background: rgba(15, 16, 15, 0.16);
		width: 65px;
		height: 65px;
		/*display: block;
	vertical-align: middle;*/
	}
	
	.works .card:hover .textbox {
		transform: scale(1);
		box-shadow: 0 0 10px 0 white;
	}
	/*.news {
	margin: 0 auto;
	overflow: hidden;
	width: 1140px;
}*/
	
	.news .wrap {
		width: 1140px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
	}
	
	.news .wrap .gird {
		width: 380px;
		float: left;
		/*display: block;*/
	}
	
	.bao {
		/*width: 1140px;*/
		margin-top: 3em;
		margin: 0 auto;
		position: relative;
		padding-top: 36px;
		overflow: hidden;
	}
	/*.news .wrap .gird img {
	padding-left: 15px;
	padding-right: 15px;
	
}*/
	
	a.button {
		background: #f2af00;
		width: 100px;
		display: block;
		text-align: center;
		color: white;
		text-decoration: none;
		position: relative;
		height: 40px;
		line-height: 40px;
	}
	
	a.button span {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		line-height: 40px;
		
	}
	
	.button span:after {
		content: '';
		width: 100%;
		height: 100%;
		background: #16A667;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		/*opacity: .5;*/
		transition: all .3s;
		z-index: -1;
	}
	
	a.button span:hover:after {
		transform: rotateX(90deg);
		-webkit-transform: rotateX(90deg);
	}
	
	.section {
		margin-top: 4em;
		margin-bottom: 4em;
		background: #3f454d;
		overflow: hidden;
	}
	
	.container {
		width: 1170px;
		height: 430px;
		position: relative;
		margin: 0 auto;
	}
	
	.col-md {
		width: 350px;
		float: left;
		position: relative;
		padding: 0 15px;
	}
	
	.col-md h3 {
		font-size: 2.5em;
		color: white;
	}
	
	.up1 {
		margin-top: 1.2em;
		width: 350px;
		height: 80px;
	}
	
	.up1 .up-img {
		float: left;
		width: 21%;
		margin-right: 3%;
	}
	
	.up-img img {
		width: 100%;
	}
	
	.up-text {
		float: right;
		width: 76%;
	}
	
	.up-text a {
		font-size: 1.3em;
		color: #fff;
		margin-bottom: 0.3em;
		text-decoration: none;
	}
	
	.up-text p {
		font-size: 1em;
		line-height: 1.8em;
		color: #999;
		padding: 0 0;
		margin: 0 0;
	}
	
	/*.wrap .gird a:hover:after {
		transition: all 0.5s;
		color: orange;
	}*/
	
	ul {
		padding: 0 0;
		margin: 0 0;
	}
	
	.col-md li {
		font-size: 1em;
		line-height: 1.8em;
		color: #999;
		list-style: none;
		padding: 6px 12px;
		background: url(img/list-arrow.png) no-repeat 0px 15px;
		cursor: pointer;
		list-style-type: none;
	}
	
	.col-md li:hover {
		transition: all 0.5s;
		color: orange;
	}
	
	.message a {
		display: block;
		width: 100%;
		font-size: none;
		color: #999;
	}
	
	ul .phone {
		width: 40px;
		height: 40px;
		background: url(img/img-sprite1.png) no-repeat -220px 0px;
		display: inline-block;
		float: left;
	}
	
	ul .smartphone {
		width: 40px;
		height: 40px;
		background: url(img/img-sprite1.png) no-repeat -260px 0px;
		display: inline-block;
		float: left;
	}
	
	ul .message {
		width: 40px;
		height: 40px;
		background: url(img/img-sprite1.png) no-repeat -300px 6px;
		display: inline-block;
		float: left;
	}
	
	.col-md p {
		font-size: 1em;
		color: #999;
	}
	
	.ill a {
		width: 100%;
		display: block;
		font-size: 1em;
		text-decoration: none;
		color: #999;
		display: block;
		padding: 4px;
	}
	
	.ill a:hover {
		transition: all 0.5s;
		color: orange;
	}
	
	.ill {
		height: 45px;
	}